.employee-list--header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.employee-list--title-group {
  align-items: flex-end;
  display: flex;
}

.employee-list--title {
  color: var(--color-heading);
  font-size: var(--font-xxl);
  margin-right: var(--s-2);
}

.employee-list--record-indicator {
  color: var(--color-text);
  font-size: var(--font-xxs);
  line-height: var(--font-xxl);
}

.employee-table--header {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: var(--s-9) var(--s-6) 0 var(--s-6);
}

.employee-table--thead {
  color: var(--color-text);
  font-size: var(--font-xxs);
  font-weight: 600;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .employee-table--header {
    display: none;
  }
}

.employee-list--no-records {
  color: var(--color-text);
  padding: var(--s-8);
  line-height: var(--s-8);
}
