.employee-list--header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.employee-list--title-group {
  align-items: flex-end;
  display: flex;
}

.employee-list--title {
  color: var(--color-heading);
  font-size: var(--font-xxl);
  margin-right: var(--s-2);
}

.employee-list--record-indicator {
  color: var(--color-text);
  font-size: var(--font-xxs);
  line-height: var(--font-xxl);
}

.employee-table--header {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: var(--s-9) var(--s-6) 0 var(--s-6);
}

.employee-table--thead {
  color: var(--color-text);
  font-size: var(--font-xxs);
  font-weight: 600;
  text-transform: uppercase;
}

.employee-list--card {
  color: var(--color-text);
  display: flex;
  align-items: center;
  font-size: var(--font-sm);
  flex-direction: row;
  padding: var(--s-7) var(--s-6);
  margin-top: var(--s-4);
}

.employee-card--name {
  color: var(--color-heading);
  font-weight: 600;
  font-size: var(--font-md);
  margin-bottom: var(--s-1);
}

.employee-card--dob {
  font-size: var(--font-xs);
}

.employee-card--actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media screen and (max-width: 768px) {
  .employee-table--header {
    display: none;
  }

  .employee-list--card {
    flex-direction: column;
    align-items: flex-start;
  }

  .employee-row--cell {
    margin-bottom: var(--s-2);
  }
}

.employee-list--no-records {
  color: var(--color-text);
  padding: var(--s-8);
  line-height: var(--s-8);
}
