:root {
  // Bg, text colors
  --color-primary: #624DE3;
  --color-primary-light: rgba(98, 77, 227, 0.3);
  --color-heading: #00234B;
  --color-text: #525F7F;
  --color-text-light: #778CA3;
  --color-bg: #F4F7FC;
  --color-card-footer-bg: #F9FAFF;
  --color-white: #FFF;
  --color-border: #EAEDF3;
  --color-avatar-bg: #FFE8DF;

  // Shadow colors
  --shadow-card: 6px 6px 54px rgba(0, 0, 0, 0.05);
  --shadow-button: 0px 6px 12px rgba(98, 77, 227, 0.3);
}
