.form-group {
  margin-bottom: var(--s-7);
}

.form--label {
  display: block;
  color: var(--color-text);
  font-size: var(--font-xxs);
}

.error {
  color: var(--color-error);
}

.form--label:focus-within .form--label-content {
  color: var(--color-primary);
}

.form--helper-text {
  color: var(--color-text-light);
  font-size: var(--font-xxs);
}

.form--helper-text.error {
  color: var(--color-error);
}

.form--input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid var(--color-text-light);
  color: var(--color-heading);
  padding: var(--s-2) 0;
  font-size: var(--font-md);
  margin-bottom: var(--s-1);
  outline: 0;
  width: 100%;
}

.form--input::placeholder {
  color: var(--color-text);
}

.form--input.error {
  border-bottom-color: var(--color-error);
}

.form--input:focus {
  border-bottom: 1px solid var(--color-primary);
}

input[type=date] {
  font-family: var(--font-family);
  font-size: var(--font-md);
}

.form-footer--submit-button {
  margin-left: var(--s-2);
}

.form--select.error > div {
  border-bottom-color: var(--color-error);
}
